@page "/"
@page "/authentication/login-callback"
@inherits LayoutComponentBase
@inject TwinApp.Client.Shared.IGraphicService Graphics

<div class="twinapp-container">
    <!-- Background Babylon canvas -->
    <canvas id="renderCanvas" style="width:100%; height:100%; display:block;"></canvas>


    <!-- Overlay panels -->
    <OverlayHost />
    
    
</div>

@code {
    private bool _initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            // Ensure JS engine is initialized
            await Graphics.InitializeAsync();
            
            StateHasChanged();

            _initialized = true;
        }
    }
}